:root{
    --board-color:#7f92ff;

}

body{
    font-size: 22px;
    text-align: center;
    overflow-x: hidden;
    margin: 0;
    padding-top: 10px;
    font-family: "bahnschrift light", "sans serif";
}

#game_board{
    padding:15px 15px 0px 4px;
    background-color: var(--board-color);
    margin:15px auto 15px auto;

}

#game_board td{
    width:40px;
    height:43px;
    line-height:40px;
    background-color: #b3befc;
    cursor :crosshair;
    background-position: center;
    border:1.5px solid var(--board-color);
    padding:0;
    margin:auto;
}
#game_board td:hover{
    background-color: #e2e6fd;
}


#game_board td.selected{
    background-color: #ff822e;
}
#game_board td.selected:hover{
    background-color: #ff822e;
}
#game_board td.column_selected{
    background-color: #ffb685;
}
#game_board td.column_selected:hover{
    background-color: #ffb685;
}


#game_board td.revealed{
    background-color: #dfe4fc;
    cursor :default;
}
#game_board td.revealed:hover{
    background-color: #dfe4fc;
}

h1{
    font-size: 35px;
}
h2{
    font-size:20px;
    margin-top:-30px;
}

footer{
    position:fixed;
    bottom:5px;
    text-align: center;
    width:100%;
}

input#target{
    width:80px;
    font-size: 30px;
    line-height:30px;
    font-family:"Consolas", 'Courier New', monospace;
    padding:1px 5px 1px 5px;
}


table.options{
    margin:auto;
    text-align: center;
}

input[type="number"]{
    width:50px;
}

th.left_side td.left_side{
    text-align: right;
}
th.right_side td.right_side{
    text-align: left;
}
th.middle td.middle{
    text-align: center;
}
th.label{
    width:0;
}

table.options button{
    font-family: "bahnschrift light", "sans serif";
    height:30px;
    font-size:20px;
}

table.options tr{
    text-align: center;
}

th.key{
    color:#0c026f;
    height:0px;
    width:0px;
}




td.miss{
    background-image: url(img/miss.png);
}
td.ship_body{
    background-image: url(img/ship-body.png);
}
td.ship_top{
    background-image: url(img/ship-top.png);
}
td.ship_right{
    background-image: url(img/ship-right.png);
}
td.ship_bottom{
    background-image: url(img/ship-bottom.png);
}
td.ship_left{
    background-image: url(img/ship-left.png);
}


button.small_button{
    font-size: small;
}
